@using Microsoft.JSInterop
@inject IJSRuntime jsRuntime

<div class="my-component">
    This Blazor component is defined in the <strong>EmbeddedBlazorContent.ExampleLib</strong> package.
    Click this button to execute JS from EmbeddedBlazorContent.ExampleLib content js file.

    <button onclick="@Click">Click Me</button>
</div>


@functions
{

    public void Click()
    {
        ExampleJsInterop.Prompt(jsRuntime, "Hello, World!");
    }

}